<div class="container-fluid col-md-6">
  <h3 class="text-center lead">Add Member to Racing Team</h3>
  <br />
  <!--Template Driven Form or Model Driven Form?-->
  <form (ngSubmit)="onSubmit(memberForm)" #memberForm="ngForm">
    <!-- mdetails =>{{ memberForm.value| json }}
    mModels => {{ memberModel | json}} -->
    <div>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="First Name"
            name="firstName"
            [(ngModel)]="memberModel.firstName"
            required
            #firstName="ngModel"
          />
          <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is invalid</div>
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Last Name"
            [(ngModel)]="memberModel.lastName"
            required
            #lastName = "ngModel"
          />
          <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is invalid</div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            name="jobTitle"
            placeholder="Job Title"
            [(ngModel)]="memberModel.jobTitle"
            required
            #jobtitle="ngModel"
          />
          <div class="alert alert-danger" *ngIf="jobtitle.touched && !jobtitle.valid">Job title is invalid</div>
        </div>
        <!--We may have to make a service call to get this list-->
        <select id="team" name="team" class="col-md-6 custom-select"
         [(ngModel)]="memberModel.team" required
         >
          <option *ngFor="let team of teams" [ngValue]="team.teamName">{{ team.teamName }}</option>
        </select>

      </div>

      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active" name="status" [(ngModel)]="memberModel.status" required /> Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" name="status" [(ngModel)]="memberModel.status" required/> Inactive
          </label>
        </div>
      </div>
    </div>
    <!--Disable if form is invalid-->
    <button type="submit" class="btn btn-primary pull-right" [disabled]="!memberForm.valid">
      Save Member
    </button>

  </form>
</div>
